<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sakura.project.mapper.generator.MgProjectHonorInfoGeneratorMapper">
    <resultMap id="BaseResultMap" type="com.sakura.project.entity.MgProjectHonorInfo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="project_name" jdbcType="VARCHAR" property="projectName"/>
        <result column="project_announcement_id" jdbcType="INTEGER" property="projectAnnouncementId"/>
        <result column="project_honor_name" jdbcType="VARCHAR" property="projectHonorName"/>
        <result column="project_body" jdbcType="VARCHAR" property="projectBody"/>
        <result column="project_declare_time" jdbcType="TIMESTAMP" property="projectDeclareTime"/>
        <result column="project_leave" jdbcType="INTEGER" property="projectLeave"/>
        <result column="project_branch" jdbcType="INTEGER" property="projectBranch"/>
        <result column="project_department" jdbcType="INTEGER" property="projectDepartment"/>
        <result column="project_description" jdbcType="VARCHAR" property="projectDescription"/>
        <result column="project_create_user" jdbcType="INTEGER" property="projectCreateUser"/>
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.sakura.project.entity.MgProjectHonorInfo">
        <result column="project_declare_condition" jdbcType="LONGVARCHAR" property="projectDeclareCondition"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                            separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    id, project_name, project_announcement_id, project_honor_name, project_body, project_declare_time, 
    project_leave, project_branch, project_department, project_description, project_create_user, 
    create_date, update_date
  </sql>
    <sql id="Blob_Column_List">
    project_declare_condition
  </sql>
    <select id="countByExample" parameterType="com.sakura.project.entity.example.MgProjectHonorInfoExample"
            resultType="java.lang.Long">
        select count(*) from mg_project_honor_info
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>

    <select id="get" resultType="pd">
        SELECT
        p.project_name AS `projectName`,
        p.project_honor_name AS `projectHonorName`,
        DATE_FORMAT( p.project_declare_time, '%Y-%m-%d' ) AS `projectDeclareTime`,
        p.project_body AS `projectBody`,
        ( SELECT branch_name FROM mg_branch_info WHERE id = p.project_branch ) AS `projectBranch`,
        p.project_leave AS `projectLeave`,
        ( SELECT department_name FROM mg_department_info WHERE id = p.project_department ) AS `departmentName`,
        p.project_declare_condition AS `projectDeclareCondition`,
        p.project_description AS `projectDescription`,
        u.user_name,
        u.user_phone,
        ( SELECT company_name FROM mg_company_info WHERE id = u.company_id ) AS `companyName`
        FROM
        mg_project_honor_info p
        LEFT JOIN mg_user_info u ON p.project_create_user = u.id
        <where>
            p.id = #{projectId}
        </where>
    </select>

    <select id="list" resultType="pd">
        SELECT
        p.id,
        DATE_FORMAT( p.project_declare_time, '%Y-%m-%d' ) AS `projectDeclareTime`,
        p.project_status as `projectStatus`,
        p.project_honor_name AS `projectHonorName`,
        p.project_body AS `projectBody`,
        p.project_leave AS `projectLeave`,
        ( SELECT branch_name FROM mg_branch_info WHERE id = p.project_branch ) AS `projectBranch`,
        ( SELECT department_name FROM mg_department_info WHERE id = p.project_department ) AS `departmentName`,
        p.project_declare_condition AS `projectDeclareCondition`,
        p.project_description AS `projectDescription`
        FROM mg_project_honor_info p
        LEFT JOIN mg_user_info u
        ON p.project_create_user = u.id
        <where>
            1=1
            <!--项目主管部门-->
            <if test="projectBranch != null and projectBranch != '' and projectBranch != 0">
                and p.project_branch = #{projectBranch}
            </if>

            <!--项目级别-->
            <if test="projectLeave != null and projectLeave != '' and projectLeave != 0">
                and p.project_leave = #{projectLeave}
            </if>

            <!--主管科室-->
            <if test="projectDepartment != null and projectDepartment != '' and projectDepartment != 0">
                and p.project_department = #{projectDepartment}
            </if>

            <!--项目下沉公司-->
            <if test="companyId != null and companyId != '' and companyId != 0">
                and m.company_id = #{companyId}
            </if>

            <!--项目状态-->
            <if test="projectStatus != null and projectStatus != '' and projectStatus != 0">
                and p.project_status = #{projectStatus}
            </if>

            <!--项目名称-->
            <if test="projectName != null and projectName != ''">
                and p.project_name like concat('%',#{projectName},'%')
            </if>
        </where>
        ORDER BY p.id DESC
    </select>

</mapper>